## 문자열 연산자
- 덧셈과 곱셈 활용

In [2]:
a = 'Hello'
b = 'World'

print(a)
print(b)

Hello
World

In [4]:
c = a + b
print(c)
print(c * 3)

HelloWorld
HelloWorldHelloWorldHelloWorld

## 인덱싱 (Indexing)
- 문자열 범위 지정 및 추출

In [10]:
greeting = 'Hello World'
print(greeting[12])

IndexError: string index out of range

## 슬라이싱
- 주피터 노트북에서 마크다운으로 변환 / 마크다운으로 코드셀로 변환 단축키 존재

In [16]:
greeting = 'Hello World'

print(greeting[:])
print(greeting[4:])
print(greeting[4::2])
print(greeting[:8])
print(greeting[:8:2])
print(greeting[3:8])
print(greeting[::2])

Hello World
o World
oWrd
Hello Wo
HloW
lo Wo
HloWrd

In [17]:
greeting = '12345678910111213'

print(greeting[:])
print(greeting[4:])
print(greeting[4::2])
print(greeting[:8])
print(greeting[:8:2])
print(greeting[3:8])
print(greeting[::2])

12345678910111213
5678910111213
5790123
12345678
1357
45678
135790123

## 리스트
- 가장 기본적인 배열 자료형(?) / ArrayList
- 시퀀스 데이터 : 데이터에 순수가 존재함

In [18]:
a = [] # 값이 비어있는 리스트
a_list_func = list() # 값이 비어있는 리스트

print(a)
print(type(a))

print(a_list_func)
print(type(a_list_func))

[]
<class 'list'>
[]
<class 'list'>

- 값을 추가한다.

In [23]:
a = [1,2,3,4,5,6,7,8, ['apple', 'banana', 'carrot'], 'humanedu']
print(a)
print(a[0])
print(a[0:7:2])

[1, 2, 3, 4, 5, 6, 7, 8, ['apple', 'banana', 'carrot'], 'humanedu']
1
[1, 3, 5, 7]

- a 리스트 안에 있는 banana 문자열에서 맨 마지막 글자 a를 추출한다.
- 중첩리스트 : 리스트 안에 또다른 리스트가 존재함

In [24]:
a[8]

['apple', 'banana', 'carrot']

In [28]:
b = a[8]
c = b[1]
print(c[-1])

a

In [29]:
b = a[8][1][-1]
print(b)

a

In [30]:
b = a[8][2][-2]
print(b)

o

In [32]:
b = a[9][-3]
print(b)

e

## 리스트 연산자
 - 덧셈,곱셈 적용 후 결과 확인

In [37]:
a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [38]:
a = [1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 리스트 값 수정하기
- 리스트 내 원소의 값을 수정한다.

In [40]:
a = ['a', 'b', 'a', 'a']
a[1] = 'a'
print(a)

['a', 'a', 'a', 'a']

## 리스트 클래스 내부의 여러 함수
참조 : https://docs.python.org/3/tutorial/datastructures.html

## 오후 수업의 목표
- 파이썬 함수(=Methods) 사용법 익히기
- 관련 문서 확인하기

In [43]:
# Capitalize
text =  'i love YOU'
result = text.capitalize()
print(result)

I love you

In [45]:
text = '      python is best      '
print(text)
result = text.strip()
print(result)

      python is best
python is best

In [46]:
# split
# 문장을 분리하는 메소드
text = '삼성 글로벌 골즈 앱` 통한 기부금 누적 1000만달러 돌파'
result = text.split(' ')
print(result)

['삼성', '글로벌', '골즈', '앱`', '통한', '기부금', '누적', '1000만달러', '돌파']

##  리스트 자료형

In [48]:
a = [100, 200, 300]
result = a.append(400)
print(a)
print(result)

[100, 200, 300, 400]
None

In [52]:
a = [100, 200, 300]
b = [400, 500, 600]
a.append(b)
print(a)

[100, 200, 300, [400, 500, 600]]

In [53]:
a = [100, 200, 300]
b = [400, 500, 600]

# 반목문 활용 (복잡)
# extend()
a.extend(b)

print(a)

[100, 200, 300, 400, 500, 600]

-리스트 중간에 새로운 값을 추가

In [55]:
#insert()
a = [100, 200, 300]

#100과 200 사이에 150 을 추가하고싶다 
a.insert(1,150)# 인텍스 1번째에 150을 넣고싶다
print(a)

[100, 150, 200, 300]

## 리스트 내 특정 값 삭제

In [57]:
a = [1,2,1,2]
a.remove(1)
print(a)
a.remove(3)
print(a)

[2, 1, 2]

ValueError: list.remove(x): x not in list

In [59]:
a = [0,1,2,3,4,5,6,7,8,9]

# 1 삭제
del a[1]# --인덱스 번호
print(a)

#범위로 삭제
del a[1:5]
print(a)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 6, 7, 8, 9]

- 전체 다 지우자

In [62]:
a = [1,1,1,1,1,1,1]
print(a)

a.clear()
print(a)

[1, 1, 1, 1, 1, 1, 1]
[]

In [65]:
a = ["Gold", "Gold", "Silver", "Silver"]

# silver가 처음 등장하는 인덱스 번호 궁금
print(a.index("Silver"))

2

In [68]:
a = [1, 6, 5, 2, 3, 4]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [74]:
a = [1,6,5,2,3,4]

print(min(a))
print(max(a))
print(len(a))

1
6
6

## 튜플
- 튜플 생성

In [77]:
tuple1 = (0, )
tuple2 = (0, 1, 2)
tuple3 = 0,1,2,3

print(tuple1)
print(tuple2)
print(tuple3)

print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

(0,)
(0, 1, 2)
(0, 1, 2, 3)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [78]:
tuple0 = (1)
print(tuple0)
print(type(tuple0))

1
<class 'int'>

In [81]:
a = (0,1,2,'A')
print(a)
a.remove('A')

[0, 1, 2, 'A']

In [84]:
a = (0,1,2,'A')

del a[3]

print(a)

TypeError: 'tuple' object doesn't support item deletion

## 튜플 인덱싱 및 슬라이싱

In [88]:
tuple0 = (0, 1, 2, 3,4,5,6,7,8,9)
print(tuple0[2])
print(tuple0[::3])

2
(0, 3, 6, 9)

In [91]:
>>> t1 = (1, 2, 'a', 'b')
>>> t2 = (3, 4)
>>> t3 = t1 + t2
>>> t3

(1, 2, 'a', 'b', 3, 4)

In [93]:
>>> t2 = (3, 4)
>>> t3 = t2 * 3
>>> t3
(3, 4, 3, 4, 3, 4)

(3, 4, 3, 4, 3, 4)

In [94]:
>>> t1 = (1, 2, 'a', 'b')
>>> len(t1)
4

4

## 딕셔너리
-JSON 과 유사한 자료형

In [95]:
#{key:value}
numbers = {1 : "One", 2: "Two", 3: "Three"}
print(numbers)

{1: 'One', 2: 'Two', 3: 'Three'}

In [96]:
country_capital = {"한국":"서울", "일본":"동경","중국":"북경"}
print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경'}

In [97]:
print(numbers[1])

One

In [98]:
print(country_capital['한국'])

서울

In [99]:
numbers[4] = 'four'
print(numbers)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'four'}

In [100]:
country_capital['미국'] = '뉴욕'
print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경', '미국': '워싱턴'}

- 틀린값 수정

In [103]:
country_capital['미국'] = '워싱턴'
print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경', '미국': '워싱턴'}

- 삭제

In [104]:
del country_capital['미국']

print(country_capital)

{'한국': '서울', '일본': '동경', '중국': '북경'}

### Dictionary 메서드
- keys() : 키 값만 출력
- values() : value값만 출력

In [109]:
result = country_capital.keys()
print(result)
print(type(result))

dict_keys(['한국', '일본', '중국'])
<class 'dict_keys'>

In [111]:
result = list(country_capital.values())
print(result)
print(type(result))

['서울', '동경', '북경']
<class 'list'>

In [113]:
result = list(country_capital.items())
print(result)
print(type(result))

[('한국', '서울'), ('일본', '동경'), ('중국', '북경')]
<class 'list'>

## 조건문

In [119]:
score = int(input("점수를 입력해주세요(0~100)"))
print(score)

if score >= 90:
    #코드 작성 indentation
    print('A등급')
elif score >= 80:
    print('B등급')
elif score >= 70:
    print('C등급')
elif score >= 60:
    print('D등급')
else:
    print('F등급')

점수를 입력해주세요(0~100) 33

33
F등급

## 반복문
- Hello World 여러번 입력

In [120]:
for i in range(3):
    # 코드 작성
    print(i + 1, 'Hello World')

1 Hello World
2 Hello World
3 Hello World

In [127]:
a = 'Hello'
for x in a:
    print(x)

H
e
l
l
o

In [129]:
a = [100, 200, 300]
for x in a:
    print(x)

100
200
300

In [130]:
a = (100, 200, 300)
for x in a:
    print(x)

100
200
300

# for i in 범위가 정해진 값(=시퀀스데이터)):

In [133]:
1 in range(3)

True

## 파이썬 반복문 여러가지 방법
-종류 겁나 많음

In [138]:
a = ['A', 'B', 'C']
num = 0
for idx in a:
    print(num, idx)
    num = num + 1

0 A
1 B
2 C

In [140]:
a = ['A', 'B', 'C']
for idx, value in enumerate(a):
    print(idx, value)

0 A
1 B
2 C

In [141]:
str_list = ["A", "B", "C"]
num_list = [1, 2, 3]

for strs, nums in zip(str_list, num_list):
    print(strs, nums)

A 1
B 2
C 3

## while 문

In [143]:
i =1
while i < 7:
    print('Hello World')
    i = i + 1 # i+= 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

# 파이썬 다운 문법:파이써닉 방식
- Pythonic way
- for loop 반복문을 한줄로 처리

In [145]:
a = ['computer', 'apple', 'human', 'zoo', 'country']

# a가 들어간 문자만 리스트에 담자!
result_list = []
for x in a:
 if "a" in x:
   result_list.append(x)
result_list

['apple', 'human']

In [146]:
a = ['computer', 'apple', 'human', 'zoo', 'country']
result2 = [x for x in a if 'a' in x]
result2

['apple', 'human']